<form>
  <input  class="title-post" type="text" placeholder="Title">
  <textarea class="blog-post" value="Post here" rows="8" cols="40"></textarea>
</form>
  <button name="button" class="submit-post">Submit</button>


<h1>Checkout My Sweet Blog!</h1>
