<h2>Welcome!</h2>

<form>
  <input class="first_name" type="text" placeholder="First Name">
  <input class="last_name" type="text" placeholder="Last Name">
  <input class="address" type="text" placeholder="Address">
  <input class="phone_number" type="text" placeholder="Phone Number">
</form>

<button name="button" class="submit-person">Submit</button>
